@font-face {
  font-family: 'Overpass';
  src: url('./fonts/Overpass-Regular.woff2') format('woff2'),
    url('./fonts/Overpass-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Overpass';
  src: url('./fonts/Overpass-Bold.woff2') format('woff2'),
    url('./fonts/Overpass-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* css-reset */
* {
  box-sizing: border-box;
}

ol,
ul {
  list-style-type: none;
}

ol,
li,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}
/* end css-reset */

body {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  background-color: hsl(216, 12%, 8%);
}

.starIcon {
  background-color: hsla(214, 10%, 33%, 0.5);
  width: 40px;
  height: 40px;
}

.pageWrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(208, 18%, 14%);
  width: 340px;
  height: 390px;
}

@media (min-width: 550px) {
  .pageWrapper {
    width: 390px;
    height: 390px;
  }
}

.pageContent .ratings input {
  display: none;
}

.pageContent .ratings span:hover {
  background-color: hsl(25, 97%, 53%);
  color: #fff;
  cursor: pointer;
  opacity: 1;
}

.pageContent .ratings label span {
  cursor: pointer;
  background-color: hsl(214, 10%, 33%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.submitBtn {
  width: 300px;
  height: 40px;
  background-color: hsl(25, 97%, 53%);
  letter-spacing: 4px;
  color: #fff;
}

@media (min-width: 550px) {
  .submitBtn {
    width: 350px;
  }
}

.submitBtn:hover {
  background-color: #fff;
  color: hsl(25, 97%, 53%);
}

.selected {
  color: #fff !important;
  background-color: hsl(217, 12%, 63%) !important;
  opacity: 1 !important;
}

.selectedRating {
  color: hsl(25, 97%, 53%);
  background-color: hsl(210, 11%, 24%);
}
